<?xml version="1.0" encoding="UTF-8"?>
<server description="${project.name}">

    <!-- servlet: 24216208 -->
    <!-- javaee: 107777076 -->
    <featureManager>
        <feature>javaee-8.0</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="8080"
                  httpsPort="9043"/>

    <webApplication location="${project.artifactId}.war" contextRoot="/">
    </webApplication>

   <library id="derbyJDBCLib">
      <fileset dir="${shared.resource.dir}" includes="derby*.jar"/>
   </library>


  <dataSource jndiName="jdbc/myDataSource">
      <jdbcDriver libraryRef="derbyJDBCLib" />
      <properties.derby.embedded databaseName="this-is-my-datasource-db" createDatabase="create"/>
  </dataSource>


</server>
